{% extends "index.html" %}

{% block title %}Choose time{% endblock %}

{% block body %}

<main class="datetime-container">
    <div class="modal-overlay" id="customModal">
    <div class="modal">
        <p>Вы уверены что хотите поменять время приема?</p>
        <button id="okButton">ОК</button>
        <button id="cancelButton">Отмена</button>
    </div>
    </div>
    {% if user_appointment %}
    <form id="deleteAppointment">
        <input type="hidden" name="appointment_id" value="{{ user_appointment.id }}">
        <button type="submit">Отменить запись!</button>
    </form>
    {% endif %}
    <h2 id="datetime-title" class="datetime-title">Выберите время</h2>
    <div id="calendarWrapper" class="flatpickr" data-wrap="true" style="display:inline-block; cursor:pointer; font-family: monospace;">
        <input id="datepicker" type="text" data-input style="border: none; background: transparent; cursor: pointer; font-family: monospace;" />
    </div>
 
    <div class="time-slots-grid">
        {% for slot in time_slots %}
            {% if slot|type_name == "tuple" %}
                <button disabled value="{{ slot }}" class="time-slot-btn used">
                    {{ slot[0].strftime("%H:%M") }}
                </button>
            {% else %}
                <button
                    class="time-slot-btn"
                    data-time="{{ slot.strftime('%H:%M') }}"
                    data-user-id="{{ request.cookies.get('user_tg_id') }}"
                >
                    {{ slot.strftime('%H:%M') }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}